<nav class="navbar navbar-fixed-bottom navbar-default">
        <div class="navbar-logo">
            <ul class="nav navbar-nav dont-stack">
                <li>
                    <a href="http://www.johnpapa.net/hottowel-angular" target="_blank">
                        Created by John Papa
                    </a>
                </li>
                <li class="dropdown dropdown-big">
                    <a href="http://www.angularjs.org" target="_blank">
                        <img src="content/images/AngularJS-small.png" />
                    </a>
                </li>
                <li>
                    <a href="http://www.gulpjs.com/" target="_blank">
                        <img src="content/images/gulp-tiny.png" />
                    </a>
                </li>
            </ul>
        </div>
</nav>