<section class="mainbar">
    <section class="matter">
        <div class="container">
            <div>
                <button class="btn btn-info btn-form-md"
                        ng-click="vm.goBack()">
                    <i class="fa fa-hand-o-left"></i>Back
                </button>
                <button class="btn btn-info btn-form-md"
                        ng-click="vm.cancel()" 
                        ng-disabled="vm.isUnchanged()">
                    <i class="fa fa-undo"></i>Cancel
                </button>
                <button class="btn btn-info btn-form-md"
                        ng-click="vm.save()" 
                        ng-disabled="form.$invalid || vm.isUnchanged()">
                    <i class="fa fa-save"></i>Save
                </button>

                <!--Need ng-hide for show/hide animations-->
                <span ng-show="vm.hasChanges" class="dissolve-animation ng-hide flag-haschanges">
                    <i class="fa fa-asterisk fa fa-asterisk-large" rel="tooltip" title="You have changes"></i>
                </span>
            </div>
            <div class="widget wviolet">
                <div data-cc-widget-header title="Edit {{vm.customer.name || 'New Customer'}}"></div>
                <div class="widget-content user">
                    <div class="form-group">
                        <label class="control-label">Name</label>

                        <div>
                            <input class="form-control"
                                   ng-model="vm.customer.name"
                                   placeholder="Name"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <img cc-img-person="{{vm.customer.thumbnail}}" class="img-thumbnail"/>
                    </div>
                </div>
            </div>
        </div>
    </section>
</section>